*{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

/* ヘッダー */
.header {
  height: 60px;
  width: 100%;
  background-color: white;
  opacity: 0.7; 
  position: fixed;
  z-index: 10;
}

.header li {
  float: left;
  color: purple;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  list-style: none;
}

/* トップ */
.top {
  background-image: url("AnyConv.com__IMG_8218_2.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  padding: 400px 0 300px 0;
}

.top-container {
  width: 100%;
  margin: 0 auto;
}

.my-name {
  font-size: 30px;
  opacity: 0.8;
}


/* プロフィール */
.profile {
  padding: 60px 0;
  color: black;
}

.profile-container {
  width: 100%;
}

.profile-division {
  float: left;
  width: 50%;
}

.profile-image {
  text-align: center;
}

.profile-image img {
  margin: 0 auto;
  width: 300px;
}

.profile-paragragh {
}

.profile-paragragh h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.profile-paragragh p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* プログラミングスキル */
 .my-skill {
  background-image: url("minatomirai__IMG_8136.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px 0 150px 0;
}

.prog-skill {
  width: 100%;
  margin: 0 auto;
}

.skill-heading {
  padding-top: 30px;
  padding-bottom: 40px;
}

.skill-heading h2 {
  font-size: 30px;
  color: white;
}

.indi-skill {
  float: left; 
  width: 25%;
}

.indi-skill h3 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.indi-skill i {
  font-size: 150px;
  margin-bottom: 20px;
}

.indi-skill p {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
}

.fa-code {
  color: white;
}

.fa-js {
  color: red;
}

.fa-laravel {
  color: blue;
}

.fa-wordpress {
  color: yellow;
}

.indi-skill p {
  font-size: 14px;
  color: white;
}


/* 他のスキル（ふわっとフェードイン入れる？） */
/*  */
.other-skill {
  padding: 60px 0;
  color: black;
}

.other-container {
  margin: 0 auto;
  /* width: 80%; */
}

.other-heading {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.other-heading h2 {
  font-size: 28px;
}

.my-performance {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.performance {
  float: left;
  width: 50%;
}

.performance img {
  width: 300px;
}

.performance-image {
  text-align: center;
}

.comment h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.comment p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* 他のスキル② */
.other-skill2 {
  padding: 30px 0;
  color: black;
  overflow: hidden;
}

.ifbc-container {
  width: 70%;
  margin: 0 auto;
}

.ifbc {
  padding: 20px;
}

.ifbc-division {
  float: right;
  width: 50%;
}

.ifbc-division img {
  width: 360px;
}

.ifbc-image {
  text-align: center;
}

.ifbc-comment h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.ifbc-comment p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* ワークアウト */
 .workout {
  background-image: url("IMG_8139_3.jpg");
  background-size: cover;
  padding: 60px 0 180px 0;
  color: white;
  text-align: center;
}

.workout-container {
  width: 90%;
  margin: 0 auto;
}

.workout-heading h2 {
  font-size: 30px;
  padding: 30px 0;
} 

.workout-heading p {
  font-size: 20px;
  padding-bottom: 20px;
}

.workout-image {
  padding: 30px 0;
}

.indi-work {
  width: 30%;
  padding-right: 20px;
}

.indi-work:hover {
  opacity: 0.8;
}

/* コンタクトフォーム */
 .contact-form {
  padding: 60px 0;
  text-align: center;
  color: black;
}

.form {
  width: 40%;
  margin: 20px auto;
} 

.contact-form h2 {
  font-size: 32px;
  padding: 30px 0;
}

input, textarea {
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
}

.submit {
  width: 20%;
}

/* フッター */
.footer {
  padding: 20px 0;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
