*{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit; /* 色初期化 */
  transition: 0.3s;
}

a:hover {
  color: aqua;
  opacity: 0.9;
}

* {
  box-sizing: border-box;
}

.clear {
  clear: left;
}

/* ヘッダー */
.header {
  height: 60px;
  width: 100%;
  background-color: white;
  opacity: 0.7; 
  position: fixed;
  z-index: 10;
}

.header-left li {
  float: left;
  color: black;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
  list-style: none;
  cursor: pointer;
}

.header-left li:first-child {
  padding-top: 12px;
  font-size: 26px;
}

.menu {
  display: none;
}

/* overlay */
.overlay {
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  pointer-events: none;/*   ポインターイベントの対象にならない。*/
}

/* .overlay #close {
  font-size: 34px;
} */

.overlay li {
  padding: 5px 0 5px 20px;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;/*     ポインターイベントの対象になるように規定値に戻す。*/
}

.header-icon {
  float: right;
  text-decoration: none;
  color: black;
  font-size: 30px;
  list-style: none;
  padding-right: 25px;
  padding-top: 10px;
}

/* トップ */
.top {
  background-image: url("AnyConv.com__IMG_8218_2.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  padding: 400px 0 300px 0;
}

.top-container {
  width: 100%;
  margin: 0 auto;
}

.my-name {
  font-size: 30px;
  opacity: 0.8;
}

/* プロフィール */
.profile {
  padding: 60px 0;
  background-color: whitesmoke;
  color: black;
  z-index: 5;
  position: relative;
}

.profile-container {
  width: 100%;
}

.profile-division {
  float: left;
  width: 50%;
}

.profile-image {
  text-align: center;
}

.profile-image img {
  width: 300px;
}

.profile-paragragh h2 {
  font-size: 30px;
  border-bottom: 2px solid black;
  display: inline-block;
  margin-bottom: 20px;
}

.profile-paragragh p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* プログラミングスキル */
 .my-skill {
  background-image: url("minatomirai__IMG_8136.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px 0 150px 0;
}

.prog-skill {
  width: 100%;
  margin: 0 auto;
}

.skill-heading {
  padding-top: 30px;
  padding-bottom: 40px;
}

.skill-heading h2 {
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
  display: inline-block;
}

.indi-skill {
  float: left; 
  width: 25%;
}

.indi-skill h3 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.indi-skill i {
  font-size: 150px;
  margin-bottom: 20px;
}

.indi-skill p {
  width: 80%;
  display: inline-block;
  margin-top: 10px;
}

.fa-code {
  color: white;
}

.fa-js {
  color: red;
}

.fa-laravel {
  color: blue;
}

.fa-wordpress {
  color: yellow;
}

.indi-skill p {
  font-size: 14px;
  color: white;
}

/* フリースタイルバスケ（ふわっとフェードイン入れる？） */
.fsbb-wrapper {
  padding: 60px 0 40px 0;
  background-color: whitesmoke;
  color: black;
}

.fsbb-container {
  margin: 0 auto;
}

.fsbb-heading {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.fsbb-heading h2 {
  font-size: 32px;
  border-bottom: 1px solid black;
  display: inline-block;
}

.my-performance {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.performance {
  float: left;
  width: 50%;
}

.performance-image {
  text-align: right;
}

.performance img {
  width: 80%;
}

.comment {
  width: 80%;
  margin: 0 auto;
}

.comment h3 {
  font-size: 26px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.comment p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* IFBCについて */
.ifbc-wrapper {
  padding: 0 0 60px 0;
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
}

.border {
  border-top: 1px solid black;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.ifbc-container {
  width: 100%;
  margin: 0 auto;
}

.ifbc {
  padding: 20px;
}

.ifbc-division {
  float: right;
  width: 50%;
}

.ifbc-image {
  text-align: left;
}

.ifbc-division img {
  width: 80%;
}

.ifbc-comment {
  width: 80%;
  margin: 0 auto;
}

.ifbc-comment h3 {
  font-size: 26px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  text-align: right;
}

.ifbc-comment p {
  font-size: 18px;
  margin-bottom: 15px;
}

/* インターン */
.ielove-intern {
  background-image: url("IMG_8139_3.jpg");
  background-size: cover;
  padding: 60px 0 80px 0;
  color: white;
}

.intern-container {
  width: 100%;
}

.intern-heading {
  text-align: center;
  padding: 30px 0 60px 0;
}

.intern-heading h2 {
  font-size: 32px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.intern-division {
  width: 50%;
  float: left;
}

.intern-image {
  text-align: right;
}

.intern-division img {
  width: 85%;
}

.intern-comment {
  width: 80%;
  margin: 0 auto;
  background-color: black;
}

.intern-comment p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* ワークアウト */
 .workout {
  background-color: whitesmoke;
  padding: 60px 0 180px 0;
  color: black;
  text-align: center;
}

.workout-container {
  width: 90%;
  margin: 0 auto;
}

.workout-heading h2 {
  font-size: 32px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  display: inline-block;
} 

.workout-heading p {
  font-size: 20px;
  padding-bottom: 20px;
}

.workout-image {
  padding: 30px 0;
  width: 100%;
}

.indi-work {
  width: 33%;
  padding: 0 20px;
  float: left;
  position: relative;
}

.indi-work img:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.text-contents {
  display: none;
  width: 70%;
  position: absolute;
  margin: 0 auto;
  top: 100px;
  left: 60px;
  font-size: 28px;
}

.text-active {
  display: block;
  pointer-events: none;
}

/* コンタクトフォーム */
 .contact-form {
  padding: 60px 0;
  /* background-color:lavender; */
  background-image: url("harajuku__IMG_8277.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

.contact-form h2 {
  font-size: 32px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  display: inline-block;
}

.sns-icon {
  width: 40%;
  margin: 10px auto;
}

.sns-icon li {
  list-style: none;
  float: left;
  font-size: 80px;
  width: 25%;
}

.line {
  color:lawngreen;
}

.instagram {
  color: magenta;
}

.twitter {
  color: deepskyblue;
}

.facebook {
  color: dodgerblue;
}

.form {
  width: 30%;
  margin: 20px auto;
} 

input, textarea {
  width: 100%;
  font-size: 24px;
  margin-top: 15px;
  border-radius: 8px;
}

.submit {
  width: 20%;
  background-color:gold;
  transition: 00.3s;
}

.submit:hover {
  opacity: 0.8;
}

/* フッター */
.footer {
  padding: 20px 0;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
